<h1><%= t '.title' %></h1>


<% @rooms.each do |room| %>
  <%= render room %> 
  <!--
    Também é valido usar de forma explicita
    <%= render :partial => 'room', :object => room %>
  -->
<% end %>

<br>

<%= link_to t('links.new') , new_room_path %>
