<nav>
  <ul>
    <li><%= link_to t('layout.rooms'), rooms_path %></li>
    <li><%= link_to t('layout.singup'), new_user_path %></li>
    <li><%= link_to t('layout.singin'), new_user_sessions_path %></li>
  </ul>
</nav>